$time: 250ms;
$time-distribution: cubic-bezier(0.4, 0, 0.2, 1);

$zicron1: #fafbff;
$zicron2: #f9fbff;
$white: #ffffff;
$shark: #292d32;
$bali-hai: #9197b3;
$gallery: #eeeeee;
$bombay: #b5b7c0;
$black: #000000;
$river-bed: #404b52;
$monza: #df0404;
$wild-sand: #f5f5f5;
$deep-sea: #008767;
$persian-green: #00b087;
$royal-blue: #5932ea;
$your-pink: #ffc5c5;
$mountain-meadow38: rgba(22, 192, 152, 0.38);
$mountain-meadow: #16c098;
$boulder: #757575;
$gray1: #7e7e7e;
$gray2: #838383;

$fw-r: 400;
$fw-m: 500;
$fw-sb: 600;

$u1: 1px;
$u2: 2px;
$u3: 3px;
$u4: 4px;
$u5: 5px;
$u6: 6px;
$u7: 7px;
$u8: 8px;
$u9: 9px;
$u10: 10px;
$u11: 11px;
$u12: 12px;
$u13: 13px;
$u14: 14px;
$u15: 15px;
$u16: 16px;
$u22: 22px;
$u24: 24px;
$u26: 26px;
$u28: 28px;
$u30: 30px;
$u36: 36px;
$u38: 38px;
$u40: 38px;
$u41: 41px;
$u51: 51px;
$u64: 64px;
$u71: 71px;
$u76: 76px;

$tab: 768px;
$des: 1440px;
