@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/placeholders";

.customers {
	display: flex;
	flex-direction: column;
	margin-bottom: auto;

	border-radius: $u8;
	padding: $u10;
	background-color: $white;
	box-shadow: 0px 10px 60px 0px #e2ecf980;

	@include bp(tab) {
		border-radius: $u30;
		padding: $u30 $u38;
		margin-bottom: 0;
	}
	@include bp(des) {
	}
}
