@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/placeholders";

.customers {
	display: flex;
	flex-direction: column;

	padding: $u30 $u38;
	background-color: $white;
	border-radius: $u30;
	box-shadow: 0px 10px 60px 0px #e2ecf980;
}
