@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/placeholders";

.container {
	margin: 0 auto;
	max-width: 1440px;
	height: inherit;
	padding: 0;

	display: flex;
	flex-direction: column;

	@include bp(tab) {
	}

	@include bp(des) {
		flex-direction: row;
	}
}

.main {
	flex: 1 1 auto;
	overflow-y: auto;
	padding: $u10;

	display: flex;
	flex-direction: column;

	@include bp(tab) {
		justify-content: flex-start;
		padding: $u41 $u71;
	}

	@include bp(des) {
	}

	& > h1 {
		@extend %visually-hidden;
	}

	& > .main__title {
		width: auto;
		height: auto;
		// margin: 0;
		clip: auto;
		overflow: visible;
		position: static;
		margin-bottom: $u10;
		margin-top: auto;
		font-size: $u24;
		font-weight: $fw-m;

		text-align: center;

		@include bp(tab) {
			text-align: start;
			margin-top: 0;

			margin-bottom: $u51;
		}
	}

	& > .dashboard {
		flex: inherit;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
