@import "../sass/variables";
@import "../sass/mixins";
@import "../sass/placeholders";

*,
*:after,
*::before {
	box-sizing: border-box;
}
html,
body {
	height: 100%;
	flex: 1 1 auto;
	background-color: $zicron1;
	font-weight: $fw-m;
	color: $black;
}

body {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

button {
	margin: 0;
	padding: 0;
	cursor: pointer;
	font-family: inherit;
}

.is-hidden {
	overflow: hidden;
}
