@import "../sass/variables";
@import "../sass/mixins";
@import "../sass/placeholders";
@import "../sass/main";

*,
*:after,
*::before {
	box-sizing: border-box;
}
html,
body {
	height: 100%;
	background-color: $zicron1;
	font-weight: $fw-m;
	color: $black;
}

a {
	text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

button {
	margin: 0;
	padding: 0;
}

.container {
	margin: 0 auto;
	max-width: 1440px;
	min-height: 100%;
	padding: 0 $u28;

	display: flex;

	@include bp(tab) {
		padding: 0 $u36;
	}

	@include bp(des) {
		padding: 0;
	}
}
