@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/placeholders";

.sidebar__nav {
	overflow-y: auto;

	& > ul {
		@extend %list-style;
		display: flex;
		flex-direction: column;
		gap: $u28;

		@include bp(tab) {
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;

			& > li > a > img ~ img {
				display: none;
			}
		}

		@include bp(des) {
			flex-direction: column;
			& > li > a > img ~ img {
				display: block;
			}
		}

		& > li > a {
			padding: $u11;
			color: $bali-hai;
			display: flex;
			column-gap: $u10;
			border-radius: $u8;
			align-items: center;
			transition: all $time $time-distribution;

			&:hover,
			&:focus {
				opacity: 0.75;
				cursor: pointer;
			}

			&.active {
				background-color: $royal-blue;
				color: $white;
				&:hover,
				&:focus {
					opacity: 1;
					cursor: pointer;
				}
			}

			& > img ~ img {
				&:last-child {
					margin-left: auto;
				}
			}

			& > .active {
				filter: brightness(200%);
			}
		}
	}
}
